.k-editor, .k-editor-child {
    padding: 10px;
    margin: 10px;
}

.k-editor {
    border: 1px solid lightgray;
    -ms-border-radius: 5px;
    border-radius: 5px;
}

.editor-field {
    margin: 10px;
}

.editor-plus-sign {
    cursor: pointer;
}


.narrow {
    width: 60px;
}

.wide {
    width:100px !important
}

.no-display {
    display: none;
}